# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Model files (VERY IMPORTANT)
models/
*.pth

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Jupyter notebooks
.ipynb_checkpoints/

# Logs
*.log